.Login-formContainer{
    margin-top: 80px;
    margin-bottom: 80px;
}

.login-page {
	background: url(/img/bg.png);
	 background-repeat: no-repeat;
    background-size: cover;
}


.login-box-body{
	border-radius: 5px!important;
}
.btn.btn-flat, select, html, textarea, input {
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: "Open Sans"!important;
    font-size: 16px!important;
    border-radius: 5px!important;
}