<div class="login-box">
    <div class="login-logo">
        <a ui-sref="login"><b>Gestor de Proyectos </b>FFI</a>
    </div>
    <div class="login-box-body glass md-whiteframe-3dp" layout="column">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>Ingresar</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <login-form></login-form>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div layout="row" layout-align="center center">
            <div class="logo1" layout-margin>
                <img src="/img/logo_uninorte.jpg" width="100">
            </div>
            <div class="logo1" layout-margin>
                <img src="/img/logo_sena.png" width="60">
            </div>
            <div class="logo1" layout-margin>
                <img src="/img/logo_sennova.jpg" width="100">
            </div>
        </div>
    </div>
</div>
