<div class="login-box">
    <div class="login-logo">
        <img src="/img/ok.png" width="100">
    </div>
    <div class="login-box-body glass md-whiteframe-3dp" layout="column">
         <a ui-sref="login"><b>LesPac & Kijiji </b>Robots</a>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>Sign In</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <login-form></login-form>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div layout="row" layout-align="center center">
            <div class="logo1" layout-margin>
                
            </div>
            <div class="logo1" layout-margin>
                <img src="/img/Timeline-for-Scholarship-Projects.png" width="60">
            </div>
            <div class="logo1" layout-margin>
               
            </div>
        </div>
    </div>
</div>
