.dataTables_filter {
    float: right
}

.dataTables_filter input {
    margin: 0px 5px 0px 5px;
}

.dataTables_paginate {
    float: right
}

.dataTables_paginate .pagination {
    margin: 0px
}

.content-wrapper {
    z-index:10!important;
    background-repeat: no-repeat;
    background-size: cover;
}

.md-select-menu-container {
        z-index: 9999;
    }	

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans"!important;
}
body {
	 font-family: "Open Sans"!important;
	 font-weight: "Regular";
     
}
.btn.btn-flat, select, html, textarea, input {
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: "Open Sans"!important;
 
}

@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .content-wrapper.sidebar-margin{
        margin-left: 50px !important;
    }
    .sidebar-mini.sidebar-collapse .right-side.sidebar-margin{
        margin-left: 50px !important;
    }
    .sidebar-mini.sidebar-collapse .main-footer.sidebar-margin{
        margin-left: 50px !important;
    }

    .sidebar-mini.sidebar-collapse .content-wrapper, 
    .sidebar-mini.sidebar-collapse .right-side, 
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 0px !important;
        
    }

}

.table-report #cell {
    background-color: #000000;
    color: #ffffff;
}

.table-report .cell {
    background-color: #000000;
    color: #ffffff;
}

.table-report tr td {
    background-color: #ffffff;
}

.table-report tr > td {
    border: 1px solid #000000;
}

.table-report tr > th {
    border: 1px solid #000000;
}

.table-report .bordered{
    border: 1px solid #ffffff;
}