.dataTables_filter {
    float: right
}

.dataTables_filter input {
    margin: 0px 5px 0px 5px;
}

.dataTables_paginate {
    float: right
}

.dataTables_paginate .pagination {
    margin: 0px
}

.content-wrapper {
 
    background-repeat: no-repeat;
    background-size: cover;
}

.md-select-menu-container {
        z-index: 9999;
    }	

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans"!important;
}
body {
	 font-family: "Open Sans"!important;
	 font-weight: "Regular";
     
     
}
.btn.btn-flat, select, html, textarea, input {
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: "Open Sans"!important;
 
}