<section class="content-header">
  <h1>Reto<small>Crear Retos</small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a ui-sref="app.userchallenges">Retos</a></li>
    <li class="active">Añadir Retos</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Añadir Reto</h3>
        </div>
        <form class="form-horizontal" name="retoForm" ng-submit="vm.save(retoForm.$valid, retoForm)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': retoForm.reto.$invalid && ( vm.formSubmitted || retoForm.reto.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Reto</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.desc" name="reto" placeholder="reto" required>
                <p ng-show="retoForm.reto.$error.required && ( vm.formSubmitted || retoForm.reto.$touched)" class="help-block">Reto es requerido.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': retoForm.slug.$invalid && ( vm.formSubmitted || retoForm.slug.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">Fecha de Inicio</label>
              <div class="col-sm-10">
                <md-datepicker ng-model="vm.fecha_inicio" md-placeholder="Ingresar Fecha Inicial"></md-datepicker>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': retoForm.slug.$invalid && ( vm.formSubmitted || retoForm.slug.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">Fecha de Finalización</label>
              <div class="col-sm-10">
                <md-datepicker ng-model="vm.fecha_final" md-placeholder="Ingresar Fecha Finalización"></md-datepicker>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a ui-sref="app.kickstart" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atras</a>
            <button type="submit" class="btn btn-primary pull-right">Añadir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
