<div layout="row" layout-align="center">



	<!--<user-projects flex ></user-projects>-->
	<div style="margin-top: 5%" layout="row">
			<a flex ui-sref="app.bots({botsType: 'Watcher'})">
			 
					<img src="/img/search.jpg" alt="lespac" width="400" height="auto">
		
		
				</a>
		<a flex ui-sref="app.bots({botsType: 'LesPac'})">
			 
			<img src="/img/lespac.jpg" alt="lespac" width="400" height="auto">


		</a>
		<sp></sp>
		<a flex ui-sref="app.bots({botsType: 'Kijiji'})">
			 
				<img src="/img/kijiji.jpg" alt="lespac" width="400" height="auto">
	
	
			</a>
	</div>

</div>