 
<div layout="row">
        <span class="" flex><b><i>{{vm.budget.titulo}}</i></b></span>
        <span   style="font-size: 1.4em;" ng-if="!vm.budget.budgetproducts && vm.can( 'edit.project')" class="" flex> <i  class="ion-close-circled" ng-click="vm.delete(vm.budget)"></i></span>
    </div> <div wz-next>
     

<div   class="budget-item text-center"  layout="column" ng-click="vm.select_budget()" >
	
    <md-card-avatar class="text-center parent" flex>
            <img  class="card img " src="img/business{{vm.budget.icon || 2}}.png"  width="70"/>
    </md-card-avatar>
    <span class="text-success bold" flex>
	Ejecutado: {{vm.budget.budgetproducts[0].wallets[0].total || vm.budget.wallets[0].total || '0.0 '| currency }} <br>
    Plan: {{vm.budget.budgetproducts[0].total || vm.budget.total || 0.0 | currency }}</span>
    
</div>
  </div>