<div class="login-box">
  <div class="login-logo">
    <a ui-sref="login"><b>Kijiji </b>Bot</a>
  </div>
  <div class="login-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Forgot Your Password?</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <forgot-password></forgot-password>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <a ui-sref="login">Back to Login</a>
      </div>
    </div>
  </div>
</div>
