<md-content layout-margin layout-wrap layout-padding layout="column" layout-align="center">
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Fechas Importantes</span>
      </div>
    </md-toolbar>
    <md-list layout="column">

    	<md-list-item class="md-3-line" ng-repeat="milestone in vm.milestonesList" ng-click="null">
          <md-icon class="md-avatar" md-font-icon="ion-calendar" aria-label="description"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>{{milestone.titulo}}</h3>
            <h4>Vence dentro de {{milestone.dias}} el {{milestone.fecha}}</h4>
            <p>{{milestone.mensaje}}</p>
          </div>
           <md-divider ></md-divider>
        </md-list-item>
       
 
    </md-list>
</md-content>
