<div layout="column" layout-align="center center">
<form name="projectForm" >
  

    <wizard on-finish="vm.finishedWizard(projectForm)" on-cancel="cancelledWizard()" hide-indicators="true">
        <wz-step wz-title="titulo" canexit="vm.exitValidation(projectForm.titulo.$error)" >
            <h3 class="text-center">{{vm.userData.name}}, Cuentanos el titulo del proyecto</h3>
            <p>El titulo debe ir en primera persona con preterito pluscuanperfecto?? bla bla bla</p>
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Titulo</label>
                <md-icon md-font-icon="ion-ios-heart-outline" class="title"></md-icon>
                <input name="titulo" ng-model="vm.project.titulo" type="text" ng-required="true">
                <div ng-messages="projectForm.titulo.$error">
                  <div ng-message="required">Este campo es obligatorio.</div>
                </div>
            
                </md-input-container>
                <br>
                <md-radio-group ng-model="vm.project.process_id">

                  <md-radio-button value="1" class="md-primary"> Proceso 1</md-radio-button>
                  <md-radio-button value="2"> Proceso 2 </md-radio-button>
                  <md-radio-button value="3"> Proceso 3</md-radio-button>

                </md-radio-group>
            <div class="text-center">
                <md-button type="submit" class="md-raised md-primary" wz-next value="Continue">Continuar</md-button>
            </div>
        </wz-step>
        <wz-step wz-title="descripcion" canexit="vm.exitValidation(projectForm.desc.$error)">
            <h3 class="text-center">Ahora cuentanos una breve descripción</h3>
            <p>una descripcion breve es un resumen bla bla</p>
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Descripción</label>
                <md-icon md-font-icon="ion-ios-heart-outline" class="title"></md-icon>
                <input name="desc" layout-align="center" ng-model="vm.project.desc" type="text" ng-required="true">
            </md-input-container>
            <div class="text-center">
                <md-button type="submit" class="md-raised md-primary" wz-previous value="previus"><md-icon md-font-icon="ion-chevron-left" aria-label="description"></md-icon>Atras</md-button>
                <md-button type="submit" class="md-raised md-primary" wz-next value="Continue">Continuar<md-icon md-font-icon="ion-chevron-right" aria-label="description"></md-icon></md-button>
            </div>
        </wz-step>
        <wz-step wz-title="Fin" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
            <h3 class="text-center">Excelente! da clic en crear proyecto para finalizar</h3>
            <div class="text-center">
                <md-button type="submit" class="md-raised md-primary" wz-previous value="previus"><md-icon md-font-icon="ion-chevron-left" aria-label="description"></md-icon>Atras</md-button>
                <md-button type="submit" class="md-raised md-primary" wz-next value="Continue">Crear Proyecto<md-icon md-font-icon="ion-checkmark-round" aria-label="description"></md-icon></md-button>
            </div>
        </wz-step>
    </wizard>
</form>
</div>
