<md-content    layout-gt-sm="column" layout-padding >

   <!--<md-button  ng-show="!vm.add" class=" text-center md-raised md-primary" aria-label="More" flex ng-click="vm.add=!vm.add">
        Añadir producto <md-icon md-font-icon="ion-chevron-down" ></md-icon>
    </md-button>
    <md-button md-no-ink ng-show="vm.add " class=" text-center md-primary" aria-label="More" flex ng-click="vm.add=!vm.add">
        Cancelar <md-icon md-font-icon="ion-chevron-up" ></md-icon>
    </md-button>
-->
 
    <div  layout="column" class="md-whiteframe-2dp">
        <md-input-container flex="100">
            <label>Descripción</label>
            <textarea ng-model="vm.product.desc" md-maxlength="150" rows="1" md-select-on-focus></textarea>
        </md-input-container>
        <div layout="row" layout-align="center">
            <md-datepicker ng-model="vm.product.fecha_ini" md-placeholder="Inicio" flex="50"></md-datepicker>
            <md-datepicker ng-model="vm.product.fecha_fin" md-placeholder="Fin" flex="50"></md-datepicker>
        </div>
        <md-button class="md-raised md-primary" ng-click="vm.add()"><md-icon md-font-icon="ion-plus-round" ></md-icon>Añadir</md-button>
        <!--
      <md-input-container flex="20">
        <label>Duración</label>
        <input ng-model="vm.duracion" type="number">
      </md-input-container flex="10">
      -->
    </div>
</md-content>
