
 <div role="dialog" aria-label="Eat me!" layout="column" layout-align="center">
        <md-toolbar md-colors="{background: 'green'}">
            <div class="md-toolbar-tools">
                <h2><md-icon class="step img" md-font-icon="ion-ios-lightbulb-outline" aria-label="proyecto"></md-icon>Crear o Editar Un Producto! </h2>
            </div>
        </md-toolbar>

<md-whiteframe class="md-whiteframe-3dp" layout >

    <md-content layout="column" flex layout-padding>
      <div layout="column">
        <md-input-container flex>
            <label>Descripción</label>
            <input ng-model="vm.product.desc" type="text" Required>
        </md-input-container>

        <md-input-container flex layout-align="center">
                    <label>Fecha Inicio</label>
                    <input date-range-picker  options="vm.options" class="form-control date-picker" type="text" ng-model="vm.product.fecha_inicio" />
        </md-input-container>
 
         <md-input-container flex layout-align="center">
                    <label>Fecha Fin</label>
                    <input date-range-picker  options="vm.options" class="form-control date-picker" type="text" ng-model="vm.product.fecha_fin" />
        </md-input-container>
 
 
        <md-input-container flex ng-if="!vm.resultId">
            <label>Resultado</label>
             
            <div layout="column" layout-align="start center">
                <md-select placeholder="Asignar a un Resultado" ng-model="vm.result" md-on-open="vm.loadResults()" style="min-width: 300px;">
                  <md-option ng-value="result" ng-repeat="result in vm.results">{{result.titulo}}</md-option>
                </md-select>
                <p style="max-width: 300px;" class="md-caption" md-truncate>Has asignado este project a : {{ vm.result.titulo ? vm.result.titulo : 'Por favor seleccionar' }}</p>
              </div>
        </md-input-container>
 
      </div>

        <div layout="row" layout-align="center center">
            <div flex="10" layout-align="center center">
            <md-button class=" md-mini md-primary " ng-click="vm.add()">
                  Enviar
                <md-icon md-font-icon="ion-android-send" aria-label="description"></md-icon>
            </md-button>
            </div>
        </div>
    </md-content>

</md-whiteframe>
        <div layout="row" class="demo-dialog-button">
            <md-button md-autofocus flex class="md-primary" ng-click="  vm.cancel()">
                Cancelar
            </md-button>
        </div>
    </div>