<md-content layout-gt-sm="column" layout-padding layout-align="center">
    <md-button class="md-icon-button text-right" aria-label="More">
        <md-icon ng-show="vm.add" class="" md-font-icon="ion-chevron-up" aria-label="description" ng-click="vm.add=!vm.add"></md-icon>
        <md-icon ng-show="!vm.add" class="" md-font-icon="ion-chevron-down" aria-label="description" ng-click="vm.add=!vm.add"></md-icon>
    </md-button>
    <div ng-show="vm.add" layout="column">
        <md-input-container flex="100">
            <label>Descripción</label>
            <textarea ng-model="vm.desc" md-maxlength="150" rows="1" md-select-on-focus></textarea>
        </md-input-container>
        <div layout="row" layout-align="center">
            <md-datepicker ng-model="ctrl.myDate" md-placeholder="Inicio" flex="50"></md-datepicker>
            <md-datepicker ng-model="ctrl.myDate" md-placeholder="Fin" flex="50"></md-datepicker>
        </div>
        <md-button class="md-raised md-primary">Añadir</md-button>
        <!--
      <md-input-container flex="20">
        <label>Duración</label>
        <input ng-model="vm.duracion" type="number">
      </md-input-container flex="10">
      -->
    </div>
</md-content>
