
   <md-card class="box box-{{vm.estado}}">
        <md-card-header>
          <md-card-avatar>
            <img src="img/logocesi.png"/>
          </md-card-avatar>
          <md-card-header-text style="position: relative;">
            <span class="md-title"> Proyecto {{vm.id}}</span>
            <span class="md-subhead">del X al X</span>
          </md-card-header-text>
          <md-menu>
              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdMenu, $event)">
                  <md-icon md-menu-origin md-font-icon="ion-plus-round"></md-icon>
              </md-button>
              <md-menu-content width="4">
                  <md-menu-item>
                      <md-button >
                          <md-icon md-font-icon="ion-plus-round" md-menu-align-target></md-icon>
                          Ejecución
                      </md-button>
                  </md-menu-item>
                  <md-menu-item>
                      <md-button disabled="disabled" ">
                          <md-icon md-font-icon="ion-plus-round"></md-icon>
                          Pendiente
                      </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                      <md-button ng-click="ctrl.toggleNotifications()">
                          <md-icon md-font-icon="ion-plus-round"></md-icon>
                         Detenido
                      </md-button>
                  </md-menu-item>
              </md-menu-content>
          </md-menu>



        </md-card-header>

        <div class="row">
            <div class="col-md-8">
              <div class="chart-responsive">
                <canvas id="doughnut" height="150" class="chart chart-doughnut" chart-data="vm.pieData" chart-labels="vm.pieLabels" chart-colours="vm.chartColours">
                </canvas>
              </div>
            </div>
            <div class="col-md-4">
              <ul class="chart-legend clearfix">
                <li><i class="fa fa-circle-o text-red"></i> Ejecutado</li>
                <li><i class="fa fa-circle-o text-green"></i> Pendiente</li>
              </ul>
            </div>
          </div>


        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"  md-truncate style="max-width: 300px;">{{vm.titulo}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Resultados
              <span class="pull-right text-red"><i class="fa fa-angle-down"></i>0</span></a></li>
            <li><a href="#">Productos <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 0</span></a>
            </li>
            <li><a href="#">Presupuesto
              <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0</span></a></li>
          </ul>
        </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        <div flex="33">
          <p class="text-bold">
          Proceso: {{vm.process_id}} 
        </p>
        </div>

       <div flex>
          <md-button class="md-icon-button" aria-label="edit" ui-sref="app.project({projectId: vm.id})">
            <md-icon md-font-icon="ion-edit" ></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="view">
            <md-icon md-font-icon="ion-eye" ></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="edit" ng-click="vm.delete(vm.id)">
            <md-icon md-font-icon="ion-trash-a" ></md-icon>
          </md-button>
       </div>
        </md-card-actions>
      </md-card>

 