
<div layout-margin layout-align="right center">
  <md-content  layout-gt-sm="column" layout-padding layout-align="center">
  <h3 class="text-center">Añadir Hito</h3>
      <div layout="column">
          <div layout-align="right center">
              <md-input-container>
                  <label>Titulo</label>
                  <input ng-model="vm.milestone.titulo">
              </md-input-container>
              <md-input-container>
                  <label>Dias</label>
                  <input ng-model="vm.milestone.dias" type="number">
              </md-input-container>
              <md-datepicker ng-model="vm.milestone.fecha" md-current-view="year" md-placeholder="Ingresar Fecha"  md-open-on-focus></md-datepicker>
          </div>
          <div>
              <md-input-container class="md-block">
                <label>Mensaje</label>
                <textarea ng-model="vm.milestone.mensaje" md-maxlength="150" rows="3" md-select-on-focus></textarea>
              </md-input-container>

              
          </div>
          <div layout-align="center center">
              <md-button ng-click="vm.add()" class="md-raised md-primary">Agregar</md-button>
          </div>
      </div>
  </md-content>
</div>