  
.gantt-row-milestone {
    font-weight: bold;
    vertical-align: middle;
    color: white;
}


.color-task-1 .gantt-task-content {
    background-color: #17b287;
    color: white!important;    
   box-shadow: -5px 4px 7px 0px #888888;

    text-align: center;
}

.color-task-2 .gantt-task-content {
	        background-color: #fafd1e!important;
	          //color: white!important;    
   box-shadow: -5px 4px 7px 0px #888888;


	           text-align: center;
}
.color-task-3 .gantt-task-content {
	background-color: #fbad3f;
   color: white!important;    
     box-shadow: -5px 4px 7px 0px #888888;
       text-align: center;
}

.color-task-4 .gantt-task-content {
    background-color: #e7583a!important;
    color: white!important;    
       box-shadow: -5px 4px 7px 0px #888888;
    text-align: center;
}

.cuadro{
	width: 15px;
	height: 15px;

}

.gantt-important-date{
	border: 2px solid #000;
    opacity: .6;
}


.gantt-column-name{
    max-width: 100px;
}
.gantt-task-progress {
    z-index: 100;
    background-color: rgb(68, 99, 223);
}

ol.gantt-tree-root.ng-pristine.ng-untouched.ng-valid.ng-scope.angular-ui-tree-nodes.ng-not-empty {
    width: 263px;
}
.project-item h5.md-truncate {
    display: inline-block;
    max-width: 220px;
    margin: 0;
}

.gantt-foreground-col-current-date {
    background-color: #6388cd;
    opacity: 0.5;
}