
   <md-card class="box box-success" layout="column" layout-padding style="height: 450px;">
        <md-card-header flex>
          <md-card-avatar>
            <img src="img/logocesi.png"/>
          </md-card-avatar>
          <md-card-header-text  >
            <h2 class="md-title">Perfil Innovador</h2>
            <span class="md-subhead">Resultados Perfil Innovador</span>
          </md-card-header-text>
        </md-card-header>

        <div class="row">
            <div class="col-md-12">
              <div class="chart-responsive" >
                <canvas id="line" class="chart chart-line" chart-data="vm.data"
                chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
                </canvas
              </div>
            </div>
             
          </div>


        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"  md-truncate style="max-width: 300px;">{{vm.titulo}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="box-footer no-padding">
          
        </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
       

       <div flex>
          <md-button class="md-icon-button" aria-label="edit" ui-sref="app.perfilInnForm">
            <md-icon md-font-icon="ion-edit" ></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="view">
            <md-icon md-font-icon="ion-eye" ></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="edit" ng-click="vm.delete(vm.id)">
            <md-icon md-font-icon="ion-trash-a" ></md-icon>
          </md-button>
       </div>
        </md-card-actions>
      </md-card>
