
<!--
    <div style="max-height: 200px; overflow: auto;"> {{vm.glApiLayers|json}} </div>

<div style="max-height: 200px; overflow: auto;"> {{vm.glLayersNames|json}} </div>

<div style="max-height: 200px; overflow: auto;"> {{vm.glSources|json}} </div>


<div style="max-height: 200px; overflow: auto;"> {{vm.glLayers|json}} </div>


<div> {{vm.glLayersNames|json}}
    <br>
        {{vm.glSources|json}}
        </div> -->
<div id="obsMap" layout-fill flex 
mapboxgl 
gl-controls="vm.glControls" 
gl-zoom="{ value: 8 }" 
gl-center="{ lng: -74.5, lat:9.5 }"
gl-pitch="{ value:90 }" 
gl-bearing="{ value: 0   }" 
gl-markers="vm.glMarkers" 
gl-sources="vm.glSources"
gl-layers="vm.glLayers" gl-style="vm.glStyle">
</div>
 <div id='menu' layout="row" layout-align="center center" ng-show="vm.showStyles">
        <md-radio-group layout="row" >
                <md-radio-button id='streets-v11' type='radio'  name='rtoggle' value='mapbox://styles/mapbox/basic-v8'     ng-click="vm.changeStyle('basic-v8')" >streets</md-radio-button>
                <md-radio-button id='light-v10' type='radio'    name='rtoggle' value='mapbox://styles/mapbox/light-v10'    ng-click="vm.changeStyle('light-v10')" >light</md-radio-button>
                <md-radio-button id='dark-v10' type='radio'     name='rtoggle' value='mapbox://styles/mapbox/dark-v10'     ng-click="vm.changeStyle('dark-v10')" >dark</md-radio-button>
                <md-radio-button id='outdoors-v11' type='radio' name='rtoggle' value='mapbox://styles/mapbox/satellite-v9' ng-click="vm.changeStyle('satellite-v9')" >satellite</md-radio-button>
                <md-radio-button id='satellite-v9' type='radio' name='rtoggle' value='mapbox://styles/mapbox/outdoors-v11' ng-click="vm.changeStyle('outdoors-v11')" >outdoors</md-radio-button>
        </md-radio-group>
</div>
<!--gl-center="{ lat: 45.53, lng: -73.58 }"-->



<div id="logos">

    <a href="http://www.uninorte.edu.co" target="_blank"><img src="img/unok.png"></a>
    <!-- <a href="http://www.atlantico.gov.co" target="_blank"><img class="logogob" src="images/gobernacionok.gif"></a>
    <a href="https://www.sgr.gov.co" target="_blank"><img class="logosgr" src="images/sgrok.png"></a>
    <a href="http://www.colciencias.gov.co" target="_blank"><img src="images/colcienciasok.png"></a>-->
</div>
<div id="redes" layout="column">

    <ul flex class="socialnetwork " layout="row">
        <!--<p class="diahora">Válido: <span data-bind="text: datetime"></span></p>-->
        <!-- <li><a href="https://www.facebook.com/pluvial.co" target="_blank"><img src="images/face.png"></a></li>-->
        <li flex><a href="https://www.instagram.com/obsriomagdalena/" target="_blank"><img src="img/instagram.png"></a>
        </li>
        <li flex><a href="https://www.youtube.com/channel/UCYIPAkNxbPptJPtAmG_WO7Q?view_as=subscriber"
                target="_blank"><img src="img/youtube.png"></a></li>
        <li flex><a href="https://twitter.com/obsriomagdalena" target="_blank"><img src="img/twitter.png"></a></li>
        <li flex><a href="https://www.uninorte.edu.co/obsriomagdalena"
                target="_blank"><img src="img/web.png"></a></li>
        <li flex><a href="mailto:obsriomagdalena@uninorte.edu.co"><img src="img/contact.png"></a>

        </li>
    </ul>
    <a flex href="https://www.uninorte.edu.co/web/ideha" target="_blank">
        <p>Instituto de Estudios Hidráulicos y Ambientales - IDEHA</p>
    </a>
</div>

<!--FAB colocado en la mitad de la pantalla al bottom-->
<div layout="row" layout-align="center center">

    <md-fab-speed-dial ng-if="vm.isLogged" id="md-fab-layers" ng-click="vm.toggleSidenav(); " md-open="vm.isOpen" md-direction="left"
        class="md-scale md-fab-up-right stick-fab-center-bottom">
        <md-fab-trigger>
            <md-button id="menu_fab" aria-label="menu" class="md-fab md-secondary">
                <md-tooltip md-direction="left" md-autohide="false">Menu</md-tooltip>
                <md-icon md-svg-src="/img/shp1.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>

<!--FAB colocado para registrarse-->
<md-fab-speed-dial ng-if="!vm.isLogged" id="md-fab-layers" ng-click="vm.register(); " md-open="vm.isOpen" md-direction="left"
    class="md-scale md-fab-up-right stick-fab-center-bottom">
    <md-fab-trigger>
        <md-button id="menu_fab" aria-label="menu" class="md-fab md-secondary">
            <md-tooltip md-direction="left" md-autohide="false">Menu</md-tooltip>
            <md-icon md-svg-src="/img/shp1.svg"></md-icon>
        </md-button>
    </md-fab-trigger>
</md-fab-speed-dial>


<!--Side Nav, se activa con el FAB anterior-->
<md-sidenav ng-if="vm.isLogged" class="md-sidenav-left" md-disable-backdrop md-component-id="closeEventsDisabled" md-whiteframe="4"
    md-disable-close-events>

    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
            <h1>CAPAS</h1>
            <span flex></span>

            <md-icon ng-if="vm.can('manage.layers')" ng-click="vm.add_nav_item($event, 'category')" md-font-icon="ion-plus-circled" aria-label="add">
                <md-tooltip md-direction="left">Agregar Categoria</md-tooltip>
            </md-icon>
            <md-icon ng-click="vm.toggleSidenav(); "  md-font-icon="ion-close-round" aria-label="close">
                <md-tooltip md-direction="left">Cerrar</md-tooltip>
            </md-icon>
        </div>
    </md-toolbar>

     
    <md-list>
        <div ng-repeat="category in vm.categories">
            <md-subheader flex class="md-primary">
               <!-- <md-list-item class="noright">-->
                <div   layout="row">
                    <!--<img src="{{category.icon}}" class="md-avatar category-avatar" alt="{{category.name}}">-->
                    <span flex="70" ng-dblclick="vm.checkEdit(category);"
                        ng-if="(!category.edit || category.id==1) "> {{category.name | uppercase}}   </span>

                    <div  layout="row"  ng-if="category.edit && category.id!=1 ">
                        <md-input-container   style="min-width:100px; width: 250px; padding: 0; margin: 0;" flex-gt-sm>
                            <input type="text" name="name" ng-model="category.name" />
                        </md-input-container>
                        <div >
                            <md-icon ng-click="vm.editCategory(category)" class="delete-col "
                                md-svg-src="/img/edit-col.svg" aria-label="edit col "></md-icon>
                            <md-icon ng-click="vm.deleteCategory(category, $index)" class="delete-col"
                                md-svg-src="/img/del-col.svg" aria-label="del col "></md-icon>
                        </div>
                    </div>

                    <span flex class="flex"></span>
                    <md-icon ng-if="vm.can('manage.layers')"  flex ng-click="vm.add_nav_item($event, 'layer', category)" class="md-secondary"
                        md-font-icon="ion-plus-circled" aria-label="add new layer"></md-icon>

                    <md-icon  ng-if="category.hide==true" ng-click="category.hide=false" class="md-secondary"
                        md-font-icon="ion-chevron-down" aria-label="up"></md-icon>

                    <md-icon  ng-if="category.hide!=true" ng-click="category.hide=true" class="md-secondary"
                        md-font-icon="ion-chevron-up" aria-label="down"></md-icon>
                </div>
                <!--</md-list-item>  -->
            </md-subheader>
            <md-list-item 
                ng-if="category.hide!==true" 
               
                ng-repeat="layer in category.layers" class="noright">
                <img src="{{category.icon}}" class="md-avatar layer-avatar" alt="{{category.name}}">
                <p> {{ layer.name | capitalize}} </p>
                <!--ng-show="layer.showDelete"-->
                <md-icon ng-if="vm.can('manage.layers')"   ng-click="vm.deleteLayer(layer, category, $index)"
                    md-svg-src="/img/del.svg" aria-label="delete layer" class="md-secondary md-hue-3"></md-icon>
                <md-checkbox ng-true-value="1" ng-false-value="0" ng-checked="layer.state == 1" ng-model="layer.state"
                    ng-change="vm.showLayer(layer,$index)" class="md-secondary"></md-checkbox>
                <md-divider></md-divider>
            </md-list-item>
        </div>
    </md-list>


</md-sidenav>


<!--

     hm-swipeleft="layer.showDelete = false"
                hm-manager-options='{"enabled":true,"preventGhosts":true}' 
                hm-swiperight="layer.showDelete = true"
-->

<!--TEMPLATES FOR MODALS-->

<!--MODAL AÑADIR CATEGORIA-->
<script type="text/ng-template" id="add-category-dialog.html">
        <md-dialog aria-label="Añadir Categoria">
            <form ng-cloak   >
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Añadir Nueva Categoria</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                                <md-icon md-font-icon="ion-close-circled" aria-label="download"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>     
                <md-dialog-content style="min-width:400px; ">
                        <div class="md-dialog-content">

                        <br/>
                           <md-input-container class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder -->
                            <label>Nombre</label>
                            <input ng-model="category.name" type="text">
                          </md-input-container>
<!--
                          <md-input-container class="md-block">
                                <label>Descripción para visitantes</label>
                                <textarea ng-model="category.public_desc" md-maxlength="150" rows="2" md-select-on-focus></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Descripción para Administradores</label>
                                <textarea ng-model="category.admin_desc" md-maxlength="150" rows="2" md-select-on-focus></textarea>
                            </md-input-container>

                           <md-checkbox name="tos" ng-model="category.state" required>
                              Categoria visible para visitantes?
                            </md-checkbox> 
                       --> 
                     </div>
                </md-dialog-content>
                <md-dialog-actions layout="row" >
                <md-button flex="100" ng-click="add_category(category)" layout-fill="" class="md-primary">Guardar</md-button>

                  
                </md-dialog-actions>
            </form>
        </md-dialog>  
    </script>

<!--MODAL AÑADIR LAYER-->
<script type="text/ng-template" id="add-layer-dialog.html">
        <md-dialog aria-label="Añadir Categoria">
            <form ng-cloak   >
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Añadir Nueva Capa</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                                <md-icon md-font-icon="ion-close-circled" aria-label="download"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>     
                <md-dialog-content layout="column" style="min-width:400px; ">
                    <div class="md-dialog-content">
                        <h2>Categoria: {{category.name}}</h2>
                            

                        <br/>
                        <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Nombre</label>
                        <input ng-model="layer.name" type="text">
                        </md-input-container>

                        <p>Seleccione una opción: <span class="radioValue">{{ layer.sourceType }}</span> </p>
                        <md-radio-group layout="row" ng-model="layer.sourceType">
                                <md-radio-button value="file" class="md-primary">Subir archivo</md-radio-button>
                                <md-radio-button value="url"> GeoJson desde Url </md-radio-button>
                                <md-radio-button value="realtime"> API </md-radio-button>
                                <md-radio-button value="realtime_icons"> API (Iconos) </md-radio-button>
                        </md-radio-group>

                        
                        <md-input-container ng-if="layer.sourceType!='file'" class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder -->
                            <label>Url</label>
                            <input ng-model="layer.url" type="text">
                        </md-input-container>
                        
                        <md-switch ng-if="layer.sourceType != 'realtime_icons'" ng-model="layer.isHeatmap" aria-label="Es Heatmap?" class="md-secondary">
                            Cargar como Heatmap
                        </md-switch>
                        <md-input-container  ng-if="layer.isHeatmap" class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                            <label>Nombre de la variable que contiene el valor</label>
                            <input ng-model="layer.prop" type="text">
                        </md-input-container>


                        <div ng-if="layer.sourceType=='file'" class="md-icon-float md-block">
                            <md-button ng-if="!layer.file" class="md-icon-button "
                                aria-label="upload" ngf-select ng-model="layer.file" 
                                name="shpfile"
                                accept=".geojson" ngf-max-size="100MB" required
                                ngf-model-invalid="vm.errorFile2">
                                <md-tooltip md-direction="top">Subir imagen</md-tooltip>
                                <md-icon md-font-icon="ion-upload"></md-icon>
                            </md-button>

                            <img flex ng-if="layer.file" src="/img/zip-file.svg" class="thumb">
                            <md-button flex ng-click="layer.file = null"
                                ng-show="layer.file" class="md-icon-button " aria-label="delete">
                                <md-tooltip md-direction="top">Borrar Archivo</md-tooltip>
                                <md-icon md-font-icon="ion-close-circled"></md-icon>
                            </md-button>
                            <span class="progress" ng-show="layer.file.progress >= 0">
                                <div ng-bind="layer.file.progress + '%'"></div>
                            </span>
                            <label> GeoJson File</label>

                        </div>
                     </div>
                </md-dialog-content>
                <md-dialog-actions layout="row" >
                <md-button flex="100" ng-click="add_layer(layer)" layout-fill="" class="md-primary">Guardar</md-button>

                  
                </md-dialog-actions>
            </form>
        </md-dialog>  
    </script>


<!--MODAL DE ESTACIONES!-->
<script type="text/ng-template" id="station-dialog.html">
    <md-dialog aria-label="Datos de la estación {{station.name}}">
        <form ng-cloak  >
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 >Estación {{station.name}}</h2>

                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
    
                        <md-icon md-font-icon="ion-close-circled" aria-label="cerrar"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>     
            <md-dialog-content >
                
                <div layout-align="center " class="md-dialog-content">
    
                    <div layout="row">
                        <div flex="30">
                            <h4>Archivos descargables </h4>
                        </div>
                        
                        <md-button flex="10" ng-repeat="file in station.otherFiles" class="md-icon-button" href="{{station.files_url + file.file_path}}" target="_blank" download>
                            
                            <md-tooltip md-direction="top"  >{{file.name}}</md-tooltip>

                            <md-icon md-font-icon="ion-android-download" aria-label="download"></md-icon>
                            
                        </md-button> 
                    </div>
                    <br>
                     
                    <div ng-click = "open($index)" ng-repeat="image in station.imgFiles" flex>
                        <h3 >Gráfico: {{image.file_path}}</h3>
                        <img style="margin: auto; max-width: 100%;" width="700" alt="Grafico duración" src="{{station.files_url + image.file_path}}" onError="this.src='/img/gdummy.png'">
                    </div>
                    <br>
                    <br>
                </div>
            </md-dialog-content>
    
    
            <md-dialog-actions  >
            <md-button href="https://www.uninorte.edu.co/obsriomagdalena/" target="_blank" md-autofocus>
                Más en nuestro portal
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('closed')">
                Cerrar
            </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>  
</script>

<!--MODAL DE LAYER REALTIME ICON!-->

<script type="text/ng-template" id="icon-dialog.html">
    <md-dialog aria-label="Datos de la estación {{station.name}}">
        <form ng-cloak  >
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 > {{station.name}}</h2>

                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
    
                        <md-icon md-font-icon="ion-close-circled" aria-label="cerrar"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>     
            <md-dialog-content >   
                <div layout-align="center " class="md-dialog-content">
                    <div layout="row" ng-repeat="(prop,val) in station">
                        <span>{{prop}}</span>
                        <span>:</span>
                        <span>{{val}}</span>
                    </div>
                </div>
            </md-dialog-content>
    
    
            <md-dialog-actions  >
            <md-button href="https://www.uninorte.edu.co/obsriomagdalena/" target="_blank" md-autofocus>
                Más en nuestro portal
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('closed')">
                Cerrar
            </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>  
</script>


<joyride></joyride>
