/*MAPBOX*/
.marker {
	background-image: url(../images/river_pin.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
  }

  .river1 {
	background-image: url(/img/water-icon.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
  }

  .river2 {
	background-image: url(/img/pointer3d.jpg);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
  }

  .river3 {
	background-image: url(/img/water-icon3.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
  }

  .river4 {
	background-image: url(/img/water-icon1.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
  }

  .river5 {
	background-image: url(../images/water-icon2.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
  }

  .river6 {
	background-image: url(../images/water-icon3.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
  }

  .mapboxgl-popup {
	max-width: 200px;
  }
  
  .mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
  }

  span.marker-title {
		position: absolute;
    top: 11px;
    left: 44px;
    width: 120px;
    /* text-align: center; */
    text-shadow: 0px -1px 0px #ffffff;
    color: #00363a;
    font-weight: bold;
    font-style: italic;
}

.socialnetwork{
 
    opacity: 0.8;
    overflow: hidden;
    margin: 0;
   
}
.socialnetwork li{
		list-style: none;
		display: inline-block;
		margin-left: 10px;	
	}

.socialnetwork li:hover{
	opacity:0.9;
}	

.mm{
	font-size: 18px!important;
}
#redes {
	position: absolute;
    right: 1%;
    bottom: 1% !important;
	}

	#logos{
 
    position: absolute;
    left: 2%;
		opacity:0.8;
		bottom: 10%;
		width: 200px;
	}
	#redes img{
		width: 60px;
		margin-left: 10px;
	}
	#logos h3{
		margin: 0 0 0 8px;
		font-size: 10px!important;
	}

	@media only screen and (max-width: 50em) {
		#logos{
			display:none;
		}
		.logo{
			display:none!important;
		}
		#redes img{
			width: 30px;
			margin-left: 5px;
		}
	}