<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">Kickstarter</div>
</md-toolbar>
<h2 class="text-center">Dashboard {{}} 	</h2>
<div layout="column" layout-gt-md="row" layout-margin>
	<mindex-chart flex-gt-md="33" flex="100"></mindex-chart>
	<perfilinnovador-chart flex-gt-md="33" flex="100" ></perfilinnovador-chart>
	<empatia-chart flex-gt-md="33" flex="100" ></empatia-chart>


	
</div>
<div layout="column" layout-gt-md="row" layout-margin>
	<user-roles flex-gt-md="33" flex="100"  ></user-roles>
	<user-lists flex-gt-md="33" flex="100"  ></user-list>
	<retos-list  flex-gt-md="33" flex="100" ></retos-list>
	 
</div>