
<!-- 1. Add, 2. Edit-->
<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center">

    <md-toolbar class="text-center" layout="row">
        <div class="md-toolbar-tools">

            <h2><b>{{vm.product.desc}}</b></h2>
        </div>
        <md-icon layout-margin flex-aling="end center" md-font-icon="ion-close-round" aria-label="description" ng-click="vm.cancel()"></md-icon>
    </md-toolbar>
    <md-content class="text-center">
        <h1>{{vm.productBudget.budget_title }}</h1>

        <wizard hide-indicators="vm.isEditing()" on-finish="vm.finishedWizard()" on-cancel="vm.cancelledWizard()" indicators-position="top">
            <wz-step wz-title="Selecciona">
                <p>Escoja el rubro</p>
                   
                <budget-list wz-next value="Continue" product="vm.product" pbudget="vm.productBudget" filter="vm.isEditing()"></budget-list>
                <md-button type="submit" class="md-raised md-primary" wz-next value="Continue">Continuar
                    <md-icon md-font-icon="ion-chevron-right" aria-label="description"></md-icon>
                </md-button>
            </wz-step>
            
            <!--Añadiendo rubro-->
            <wz-step wz-title="Entidad 1" wz-disabled="{{vm.isEditing()}}">

                <budget-form pbudget="vm.productBudget"></budget-form>

                <md-button type="submit" class="md-raised md-primary" wz-next value="Continue">Continuar
                    <md-icon md-font-icon="ion-chevron-right" aria-label="description"></md-icon>
                </md-button>
            </wz-step>
            
            <!--Editando rubro-->
            <wz-step wz-title="Gastos" wz-disabled="{{vm.isAdding()}}">
                
                <div layout="column">
                
                    <budget-wallet  user-id="vm.users[0].id" product-id="vm.product.id" budget-id="vm.productBudget.budget_id"></budget-wallet>

                </div>
                   
            </wz-step>
 
            <wz-step wz-title="Finaliza" wz-disabled="{{vm.isEditing()}}">
             
                <md-button type="submit" class="md-raised md-primary" wz-next value="Continue">Finalizar
                    <md-icon md-font-icon="ion-checkmark-round" aria-label="description"></md-icon>
                </md-button>
            </wz-step>
        </wizard>
    </md-content>
    <div class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="vm.cancel()">
            Cancelar
        </md-button>
    </div>
</div>
