<div layout="column">
    <md-content  layout="column" style="min-height:500px; max-height: 500px">
        <div class="repeated-item" >

            <product-item  delete="vm.delete(product.id, $index)" class="fx-zoom-up fx-stagger-245" ng-repeat="product in vm.products" product="product" flex>
            </product-item>
            
        </div>
    </md-content>

    <!-- add product-->
    <p ng-show="vm.can('edit.project')" class="text-center">Añadir producto</p>

	
		<product-form  ng-show="vm.can('edit.project')" result-id="vm.resultId" product-list="vm.products"></product-form>
	 
</div>
