<div style="height:300px; max-height: 300px;" layout="column">
    <md-content  layout="column">
        <div class="repeated-item" >
            <product-item  ng-repeat="product in vm.products" product="product">
            	
            </product-item>

        </div>
    </md-content>
    <md-button ng-show="vm.isCollapsed" class="md-raised md-primary" ng-click="vm.isCollapsed = !vm.isCollapsed"><md-icon md-font-icon="ion-chevron-up" ></md-icon>Añadir Producto</md-button>
    <md-button ng-show="!vm.isCollapsed" class="md-raised " ng-click="vm.isCollapsed = !vm.isCollapsed"><md-icon md-font-icon="ion-chevron-down" ></md-icon>Cancelar</md-button>


	<div uib-collapse="vm.isCollapsed">
		<product-form></product-form>
	</div>
 
</div>