<i ng-class="{'fa-check-circle-o':vm.actividades.empresario.done, 'fa-circle-thin':!vm.actividades.empresario.done}" class="fa bg-blue" ng-click="vm.actividades.empresario.done=!vm.actividades.empresario.done"></i>
          <div class="timeline-item">
           <md-checkbox  ng-model="vm.actividades.asesor.done" >
            Verificar
          </md-checkbox>
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
            <h3 class="timeline-header"><p >del {{vm.actividades.fecha_inicio}} al {{vm.actividades.fecha_fin}}</p> </h3>
            <div class="timeline-body">
              {{vm.actividades.titulo}}
            </div>
            <div class="timeline-footer">
              <a class="btn btn-primary btn-xs" ng-click="vm.open_budget(vm.actividades.id)">Añadir Presupuesto</a>

              <a class="btn btn-danger btn-xs" ng-click="vm.delete(item)">Borrar</a>
            </div>
          </div>

<!--Modal formulario de creación de proyecto!-->
<script type="text/ng-template" id="projectBudgetModal.html">

  <product-budget item="mvm.actividades" cancel="mvm.cancel()"></product-budget>
 
</script>
