.strike {
    text-decoration: line-through;
    color:green;
}
.bold {
    font-weight: bold;
}

.color-1{
    background-color: #4cb54c;
    color: white!important;    border-radius: 70px;
    text-align: center;
}
.color-2{
	        background-color: yellow;
	           color: white!important;    border-radius: 70px;
	           text-align: center;
}
.color-3{
	background-color: #faa933;
   color: white!important;    border-radius: 70px;
       text-align: center;
}
.color-4{
    background-color: #d84c4c!important;
    color: white!important;    
    border-radius: 70px;
    text-align: center;
}

 
 

md-select {
 
    margin: 0;
}
