.strike {
    text-decoration: line-through;
    color:green;
}
.bold {
    font-weight: bold;
}

.color-1{
    background-color: #4cb54c;
    color: white!important;
}
.color-2{
	        background-color: rgb(255, 216, 47);
	           color: white!important;
}
.color-3{
	background-color: #c25252;
   color: white!important;
}
 
