<div class="register-box">
  <div class="register-logo">
    <img src="/img/LogoOBSTexto.jpg" width="150">
  </div>
  <div class="register-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <a ui-sref="register"><b>Observatorio del río  </b>Magdalena</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <register-form></register-form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <a ui-sref="login">Ya tengo una cuenta</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        Al registrarse usted esta de acuerdo con <a href="#">nuestros terminos</a> y que ha leido nuestra <a href="#">politica de privacidadq</a>.
      </div>
    </div>
  </div>
</div>
