.progress-wrapper{
    position: relative;
}

.progress-wrapper .text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

 
.result-color-1{
	       background-color: #4cb54c;
    color: white!important;    
     
}
.product-list-wrapper{
    -webkit-transition:all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

 
