<div layout="row" layout-wrap layout-margin layout-align=" center">


    <div ng-if="!vm.bots.length>0" class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-info"></i>There are no bots!</h4>
        you have to create one bot.
    </div>
    <br>

    <div class="row">
        <div class="col-xs-12" layout-align="center ">
            <div layout="column" class="box box-primary">
                <div class="box-header" layout="row">
                    <h3 flex class="box-title label" ng-class="{'label-success': vm.bot.type == 'LesPac', 'label-primary': vm.bot.type == 'Kijiji' }"><b>{{vm.bot.type}}</b> Robots </h3>
                    <div flex layout="row">
                        <md-input-container flex="70">
                            <h2 flex class="box-title"><b>{{vm.bot.type}}</b> </h2>
                           <!--<label>Type</label>
                            <md-select name="botType" id="botType" ng-model="vm.bot.type">
                                
                                <md-option value="LesPac">LesPac</md-option>
                                <md-option value="Kijiji">Kijiji</md-option>
                            </md-select>
                            --> 
                        </md-input-container>

                        <div flex="30" class="input-group input-group-sm">
                            <input ng-model="vm.robotFilter" type="text" name="table_search"
                                class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <md-button ng-click="vm.add_check=!vm.add_check" class="md-icon-button"
                                    aria-label="add">
                                    <md-icon ng-if="vm.add_check" md-font-icon="ion-chevron-up"></md-icon>
                                    <md-icon ng-if="!vm.add_check" md-font-icon="ion-plus-round"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->

                <div layout="row" layout-align="center " ng-if="vm.add_check"
                    class="box-body table-responsive no-padding">
                    <table felx class="table table-hover table-responsive">
                        <tr>
                            <!--All-->
                            <th>Type</th>
                            <th ng-if="vm.bot.type != 'LesPac' || vm.bot.type == ''">City</th>
                            <th>E-mail</th>
                            <th>Pass</th>
                            <th>News</th>
                            <th>Minutes</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Status</th>
                            <!--<th>Update</th>-->
                            <th></th>
                            <!--Lespac exclisve-->
                            <th ng-if="vm.bot.type == 'LesPac' || vm.bot.type == ''">Current</th>
                            <th ng-if="vm.bot.type == 'LesPac' || vm.bot.type == ''">File</th>
                            <th>Save</th>
                        </tr>
                        <tr>
                            <!--formulario para agregar robot-->
                            <div ng-form="botForm">
                                <td>
                                    <!--<label>type</label>-->
                                    <md-select ng-model="vm.bot.type" disabled>
                                        <md-option value="Kijiji">
                                            Kijiji
                                        </md-option>
                                        <md-option value="LesPac">
                                            LesPac
                                        </md-option>
                                    </md-select>


                                </td>

                                <td ng-if="vm.bot.type != 'LesPac'">
                                    <md-select ng-model="vm.bot.city_id" md-on-open="vm.loadCities()">
                                        <md-option ng-repeat="city in vm.cities" value="{{city.id}}">
                                            {{city.name}}
                                        </md-option>
                                    </md-select>

                                    <div ng-messages="botForm.titulo.$error">
                                       <!-- <div ng-message="required"> Este campo es obligatorio. </div>-->
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <md-input-container style="min-width:180px; padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="text" name="username" ng-model="vm.bot.username" />
                                        </md-input-container>
                                        <div ng-messages="botForm.username.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <md-input-container style="min-width:100px; padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="text" name="password" ng-model="vm.bot.password" />
                                        </md-input-container>
                                        <div ng-messages="botForm.password.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>

                                </td>
                                <td>

                                    <div>
                                        <md-input-container style="min-width:55px; padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="ads_limit" ng-model="vm.bot.ads_limit" />
                                        </md-input-container>
                                        <div ng-messages="botForm.ads_limit.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <md-input-container style="min-width:0;padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="minutes" ng-model="vm.bot.minutes" />
                                        </md-input-container>
                                        <div ng-messages="botForm.minutes.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td>

                                    <div>
                                        <md-input-container style="min-width:55px;padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="start" ng-model="vm.bot.start" />
                                        </md-input-container>
                                        <div ng-messages="botForm.start.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td>

                                    <div>
                                        <md-input-container style="min-width: 55px; padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="end" ng-model="vm.bot.end" />
                                        </md-input-container>
                                        <div ng-messages="botForm.end.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <md-switch class="text-center" ng-model="vm.bot.active" aria-label="Switch 2"
                                        ng-true-value="1" ng-false-value="2" class="md-warn">

                                    </md-switch>
                                </td>


                                <td>

                                    <!--
                                                    <md-button class="md-icon-button " aria-label="edit " ng-click="vm.edit_bot(bot);">
                                                        <md-tooltip md-direction="top">Edit</md-tooltip>
                                                        <md-icon md-font-icon="ion-android-settings "></md-icon>
                                                    </md-button>
                                                    -->
                                </td>
                                <td ng-if="vm.bot.type == 'LesPac'">
                                    <div>
                                        <md-input-container style="padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="current_index" ng-model="vm.bot.current_index" />
                                        </md-input-container>
                                        <div ng-messages="botForm.current_index.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td ng-if="vm.bot.type == 'LesPac' ">
                                    <div layout="row">
                                        <md-button ng-if="!vm.bot.file" class="md-icon-button " aria-label="upload"
                                            ngf-select ng-model="vm.bot.file" name="file"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                            ngf-max-size="30MB" required ngf-model-invalid="vm.errorFile">
                                            <md-tooltip md-direction="top">Upload Excel</md-tooltip>
                                            <md-icon md-font-icon="ion-upload"></md-icon>
                                        </md-button>

                                        <img flex ng-if="vm.bot.file" src="/img/excel2.png" class="thumb">
                                        <md-button flex ng-click="vm.bot.file = null" ng-show="vm.bot.file"
                                            class="md-icon-button " aria-label="delete">
                                            <md-tooltip md-direction="top">Delete Excel</md-tooltip>
                                            <md-icon md-font-icon="ion-close-circled"></md-icon>
                                        </md-button>
                                        <span class="progress" ng-show="vm.bot.file.progress >= 0">
                                            <div ng-bind="vm.bot.file.progress + '%'"></div>
                                        </span>

                                        <div ng-messages="botForm.file.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div>
                                        <md-button class="md-icon-button" aria-label="edit" ng-click="vm.uploadExcel()">
                                            <md-icon md-font-icon="ion-plus-circled"></md-icon>
                                        </md-button>
                                    </div>
                                </td>


                            </div>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.box -->

            <div class="box box-primary" ng-if="vm.bots.length>0">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-responsive">



                        <tr>
                            <th ng-if="vm.bot.type == 'LesPac' ">Type</th>

                            <!--All exclisve-->
                            <th ng-if="vm.bot.type != 'LesPac'">City</th>
                            <th>E-mail</th>
                            <th>Pass</th>
                            <th>News</th>
                            <th>Minutes</th>
                            <th>Start</th>
                            <th>End</th>
                            <!--<th>Update</th>-->
                            <!--Lespac exclisve-->
                            <th ng-if="vm.bot.type == 'LesPac' ">Current</th>
                            <th ng-if="vm.bot.type == 'LesPac' ">File</th>
                            <th>Status</th>
                            <th>Config</th>
                            <th>Delete</th>
                        </tr>
                        <!--Robots Creados-->
                        <tr
                            ng-repeat="bot in vm.bots | filter:vm.robotFilter | filter:vm.bot.type  | orderBy: 'bot.created_at':true">
                            <div ng-form="botForm{{bot.id}}">

                                <div style="display: none;"> {{bot.edit=false;}}</div>
                                <td  layout="column" ng-if="vm.bot.type == 'LesPac' " >
                                 
                                <md-card-avatar ng-if="bot.type=='LesPac'" flex>
                                        <div class="progress-wrapper">
                                            <div>
                                                <round-progress max="100" current="bot.percent" color="#45ccce" bgcolor="#eaeaea" radius="100" stroke="30" responsive="true" duration="800" animation="easeInOutQuart" animation-delay="10">
                                                </round-progress>
                                                <div class="text">{{bot.percent}}</div>
                                            </div>
                                        </div>
                                    </md-card-avatar>
                            </td>

                                <td ng-if="vm.bot.type != 'LesPac'">
                                    <span ng-if="!bot.edit">{{bot.city.name}}</span>
                                    <md-select  ng-if="bot.edit" ng-model="bot.city_id" md-on-open="vm.loadCities()">
                                            <md-option ng-repeat="city in vm.cities" value="{{city.id}}">
                                                {{city.name}}
                                            </md-option>
                                    </md-select>
                                </td>
                                <td >
                                    <span ng-if="!bot.edit">{{bot.username}}</span>

                                    <div ng-if="bot.edit">
                                        <md-input-container style="min-width:150px; padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="text" name="username" ng-model="bot.username" />
                                        </md-input-container>
                                        <div ng-messages="botForm.username.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td  >
                                    <span ng-if="!bot.edit">{{bot.password}}</span>

                                    <div ng-if="bot.edit">
                                        <md-input-container style="min-width:100px; padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="text" name="password" ng-model="bot.password" />
                                        </md-input-container>
                                        <div ng-messages="botForm.password.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <span ng-if="!bot.edit">{{bot.ads_limit}}</span>

                                    <div ng-if="bot.edit">
                                        <md-input-container style="padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="ads_limit" ng-model="bot.ads_limit" />
                                        </md-input-container>
                                        <div ng-messages="botForm.ads_limit.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span ng-if="!bot.edit">{{bot.minutes}}</span>

                                    <div ng-if="bot.edit">
                                        <md-input-container style="padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="minutes" ng-model="bot.minutes" />
                                        </md-input-container>
                                        <div ng-messages="botForm.minutes.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span ng-if="!bot.edit">{{bot.start}}</span>

                                    <div ng-if="bot.edit">
                                        <md-input-container style="padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="start" ng-model="bot.start" />
                                        </md-input-container>
                                        <div ng-messages="botForm.start.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span ng-if="!bot.edit">{{bot.end}}</span>

                                    <div ng-if="bot.edit">
                                        <md-input-container style="min-width: 37px; padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="end" ng-model="bot.end" />
                                        </md-input-container>
                                        <div ng-messages="botForm.end.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                                
                               
                                <td ng-if="vm.bot.type  == 'LesPac'">
                                    <span ng-if="!bot.edit">{{bot.current_index}}</span>

                                    <div ng-if="bot.edit">
                                        <md-input-container style="padding: 0; margin: 0;" flex-gt-sm>
                                            <input type="number" name="current_index" ng-model="bot.current_index" />
                                        </md-input-container>
                                        <div ng-messages="botForm.current_index.$error">
                                            <!--<div ng-message="required"> Este campo es obligatorio. </div>-->
                                        </div>
                                    </div>
                                </td>
                             
                                <td ng-if="vm.bot.type  == 'LesPac'">
                                     
                                    <md-button ng-if="!bot.edit"  class="md-icon-button " aria-label="edit " ng-click="vm.download_fuente(bot.file_path)">
                                        <md-tooltip md-direction="top">Edit</md-tooltip>
                                        <md-icon md-font-icon="ion-code-download"></md-icon>
                                    </md-button>

                                     <div ng-if="bot.edit" layout="row">
                                        
                                        <md-button ng-if="!bot.file" class="md-icon-button " aria-label="upload"
                                            ngf-select ng-model="bot.file" name="file"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                            ngf-max-size="30MB" required ngf-model-invalid="bot.errorFile">
                                            <md-tooltip md-direction="top">Upload Excel</md-tooltip>
                                            <md-icon md-font-icon="ion-upload"></md-icon>
                                        </md-button>

                                        <img flex ng-if="bot.file" src="/img/excel2.png" class="thumb">
                                        <md-button flex ng-click="bot.file = null " ng-show="bot.file"
                                            class="md-icon-button " aria-label="delete">
                                            <md-tooltip md-direction="top">Delete Excel</md-tooltip>
                                            <md-icon md-font-icon="ion-close-circled"></md-icon>
                                        </md-button>
                                        <span class="progress" ng-show="bot.file.progress >= 0">
                                            <div ng-bind="bot.file.progress + '%'"></div>
                                        </span>

                                </td>

                                <td>
                                    <md-switch  ng-if="bot.edit" class="text-center" ng-model="bot.active"
                                    aria-label="Switch 2" ng-true-value="1" ng-false-value="2" class="md-warn" >
                                    </md-switch>
                                    <span  ng-if="!bot.edit" flex ng-class="{'label-success': bot.active == 1, 'label-warning': bot.active == 2 }" class="label ">
                                            <span ng-if="bot.active == 1">Active</span>
                                            <span ng-if="bot.active == 2">Off</span>
                                    </span>
                                </td>

                                <td >
                                    <md-button ng-if="!bot.edit" class="md-icon-button " aria-label="edit " ng-click="bot.edit=!bot.edit">
                                        <md-tooltip md-direction="top">Edit</md-tooltip>
                                        <md-icon md-font-icon="ion-edit"></md-icon>
                                    </md-button>

                                    <div layout="row">
                                        <md-button flex ng-if="bot.edit" class="md-icon-button" aria-label="edit" ng-click="vm.update(bot);">
                                            <md-icon md-font-icon="ion-checkmark-round"></md-icon>
                                        </md-button>
                                        <md-button flex ng-if="bot.edit" class="md-icon-button" aria-label="edit" ng-click="bot.edit=!bot.edit">
                                                <md-icon md-font-icon="ion-close-round"></md-icon>
                                            </md-button>
                                            
                                    </div>
                                    
                                  <!--  
                                <md-button class="md-icon-button " aria-label="edit " ng-click="vm.edit_bot(bot);">
                                    <md-tooltip md-direction="top">Edit</md-tooltip>
                                    <md-icon md-font-icon="ion-android-settings "></md-icon>
                                </md-button>
                                -->
                                </td>
                                
    
                                <td>
                                    <div>
                                        <md-button class="md-icon-button" aria-label="edit"
                                            ng-click="vm.delete(bot.id)">
                                            <md-icon md-font-icon="ion-trash-a"></md-icon>
                                        </md-button>
                                    </div>
                                </td>



                            </div>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <!--     <project-item class="fx-fade-up fx-stagger-245" project="bot" ng-repeat="bot in vm.bots" flex="100" flex-gt-sm="30"></project-item>
 -->
</div>
<!--Modal formulario de edicion de proyecto!-->
<script type="text/ng-template" id="myModalBot.html">
    <div role="dialog" aria-label="Eat me!" layout="column" layout-align="center">
        <md-toolbar md-colors="{background: 'green'}">
            <div class="md-toolbar-tools">
                <h2><md-icon class="step img" md-font-icon="ion-ios-lightbulb-outline" aria-label="proyecto"></md-icon>Edit Bot! </h2>
            </div>
        </md-toolbar>
        <div layout="column" layout-margin>
            <bot-form mode="'edit'" bot="mvm.bot" closeparent="mvm.cancel()" flex></bot-form>
        </div>
        <div layout="row" class="demo-dialog-button">
            <md-button md-autofocus flex class="md-primary" ng-click="vm.closeDialog(); mvm.cancel()">
                Cancelar
            </md-button>
        </div>
    </div>
</script>
