    
    <md-toolbar  md-colors="{background: 'indigo'}" class="md-toolbar-tools md-primary md-hue-2">
 
        <div class="md-toolbar-tools">
         

        <md-truncate> <i class="fa fa-line-chart"></i> My Bots</md-truncate>

        <span flex></span>
       

        <div layout="row" layout-xs="column">
    <div flex="10" layout-padding layout-aling="left center">
        <div class="lock-size" layout="row" layout-align="center center">
            <md-fab-speed-dial ng-show="vm.can('edit.project')" md-open="vm.isOpen" md-direction="{{vm.selectedDirection}}" ng-class="vm.selectedMode">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab" md-colors="{background: 'light-green'}">
                        <md-icon md-font-icon="ion-plus-round"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button md-colors="{background: 'blue'}" aria-label="Twitter" class="md-fab md-raised md-mini md-primary " ng-click="vm.create_project();">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible">+ Bot</md-tooltip>
                        <md-icon class="step img" md-font-icon="ion-stats-bars" aria-label="description"></md-icon>
                    </md-button>
                    <md-button md-colors="{background: 'blue'}" aria-label="person" class="md-fab md-raised md-mini md-primary" ng-click="vm.create_empresario();">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible">+ User</md-tooltip>
                        <md-icon class="step img" md-font-icon="ion-person-add" aria-label="description"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </div>
</div>
         
      </div>
    </md-toolbar>
<div layout="column">



<div  layout layout="center">
        <project-list flex></project-list>
</div>

  
</div>
<!--Modal formulario de creación de proyecto!-->
<script type="text/ng-template" id="myModalContent.html">
    <div role="dialog" aria-label="Eat me!" layout="column" layout-align="center">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><md-icon class="step img" md-font-icon="ion-ios-lightbulb-outline" aria-label="proyecto"></md-icon>Create a Robot!</h2>
            </div>
        </md-toolbar>
        <bot-form closeparent="mvm.cancel()"></bot-form>
        <div layout="row" class="demo-dialog-button">
            <md-button md-autofocus flex class="md-primary" ng-click="vm.closeDialog(); mvm.cancel()">
                cancel
            </md-button>
        </div>
    </div>
</script>
<!--Modal formulario de creación de usuarip!-->
<script type="text/ng-template" id="addempresario.html">
    <div role="dialog" aria-label="Eat me!" layout="column" layout-align="center">
        <md-toolbar md-colors="{background: 'green'}">
            <div class="md-toolbar-tools">
                <h2><md-icon class="step img" md-font-icon="ion-ios-lightbulb-outline" aria-label="proyecto"></md-icon>Add a user!</h2>
            </div>
        </md-toolbar>
        <empresario-form closeparent="mvm.cancel()"></empresario-form>
        <div layout="row" class="demo-dialog-button">
            <md-button md-autofocus flex class="md-primary" ng-click="vm.closeDialog(); mvm.cancel()">
                cancel
            </md-button>
        </div>
    </div>
</script>
