<h2 flex>
      Describe que necesitas?
    </h2>
    <p>Ten en cuenta que debes especificar en detalle</p>

  <div layout="column" layour-padding layout-align="center">
    
    <div layout="row" flex layout-align="center">
       <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Describeipción</label>
                <md-icon md-font-icon="ion-android-chat" class="title"></md-icon>
                <input name="titulo" ng-model="vm.pbudget.descripcion" type="text" ng-required="true">
                <div ng-messages="projectForm.titulo.$error">
                  <div ng-message="required">Este campo es obligatorio.</div>
                </div>
       </md-input-container>
       <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Unidad</label>
                <md-icon md-font-icon="ion-android-favorite" class="title"></md-icon>
                <input name="titulo" ng-model="vm.pbudget.unidad" type="text" ng-required="true">
                <div ng-messages="projectForm.titulo.$error">
                  <div ng-message="required">Este campo es obligatorio.</div>
                </div>
       </md-input-container>
       <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Cantidad</label>
                <md-icon md-font-icon="ion-ios-cart" class="title"></md-icon>
                <input name="titulo" ng-model="vm.pbudget.cantidad" type="number" ng-required="true">
                <div ng-messages="projectForm.titulo.$error">
                  <div ng-message="required">Este campo es obligatorio.</div>
                </div>
       </md-input-container>

       <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Valor Unitario</label>
                <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                <input name="titulo" ng-model="vm.pbudget.valor_unitario" type="text" ng-required="true" ng-currency>
                <div ng-messages="projectForm.titulo.$error" >
                  <div ng-message="required">Este campo es obligatorio.</div>
                </div>
      </md-input-container>
       
       
      
      
    </div>

    <h2 flex>
      Describe Cuanto necesitas
    </h2>
    <p>Ten en cuenta que debes estas restricciones</p>

    <div layout="row" flex layout-align="center">
    <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Total</label>
                <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                <input  name="total" type="text" ng-disabled="true" value="{{vm.pbudget.valor_unitario*vm.pbudget.cantidad || '' | currency}}" >
                
       </md-input-container>

      <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Finaciación SENA</label>
                <md-icon md-font-icon="ion-social-usd" class="title" ></md-icon>
                <input name="titulo" ng-model="vm.pbudget.financiacion_sena" type="text" ng-required="true" ng-currency>
                <div ng-messages="projectForm.titulo.$error">
                  <div ng-message="required">Este campo es obligatorio.</div>
                </div>
       </md-input-container>
       <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Contrapartida Especie</label>
                <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                <input name="titulo" ng-model="vm.pbudget.c_especie" type="text" ng-required="true" ng-currency>
                <div ng-messages="projectForm.titulo.$error" >
                  <div ng-message="required">Este campo es obligatorio.</div>
                </div>
       </md-input-container>
       <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->             
                <label>Contrapartida efectivo</label>
                <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                <input name="titulo" ng-model="vm.pbudget.c_efectivo" type="text" ng-required="true" ng-currency>
                <div ng-messages="projectForm.titulo.$error">
                  <div ng-message="required">Este campo es obligatorio.</div>
                </div>
       </md-input-container>


    </div>
    <!--TODO: quitar cuando aun no se ha escrito-->
 <div class="warning" style="color: red;" 
 ng-show="(vm.pbudget.valor_unitario*vm.pbudget.cantidad != vm.pbudget.c_efectivo+vm.pbudget.c_especie+vm.pbudget.financiacion_sena) && vm.pbudget.cantidad!='' && vm.pbudget.financiacion_sena!='' "

 >La suma de contrapartida SENA, especie y efectivo: {{vm.pbudget.c_efectivo+vm.pbudget.c_especie+vm.pbudget.financiacion_sena | currency}} No Corresponde Con el valor solicitado: {{vm.pbudget.valor_unitario*vm.pbudget.cantidad | currency}}</div>

  <div class="text-right " layout-margin>
        <h2 class="md-display-1 ">Total: {{vm.pbudget.valor_unitario*vm.pbudget.cantidad || '' | currency}}</h2>
    </div>
  </div>

 
 