<div layout="column" layout-padding layout-aling="center">
  <h3 md-colors="{color:'green'}"><b>{{vm.pbudget.titulo | uppercase}}</b></h3>
    <h4 flex>
      Descripción del rubro
    </h4>
   
    <div layout="column" layout-padding layout-align="center center" flex="80">
        <form name="projectForm">
            <div layout="row" flex layout-align="center">
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Descripción</label>
                    <md-icon md-font-icon="ion-android-chat" class="title"></md-icon>
                    <input name="desc" ng-model="vm.pbudget.descripcion" type="text" ng-required="true">
                    <div ng-messages="projectForm.desc.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Unidad</label>
                    <md-icon md-font-icon="ion-android-favorite" class="title"></md-icon>
                    <input name="unidad" ng-model="vm.pbudget.unidad" type="text" ng-required="true">
                    <div ng-messages="projectForm.unidad.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Cantidad</label>
                    <md-icon md-font-icon="ion-ios-cart" class="title"></md-icon>
                    <input name="cantidad" ng-model="vm.pbudget.cantidad" type="number" ng-required="true">
                    <div ng-messages="projectForm.cantidad.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Valor Unitario</label>
                    <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                    <input name="unitario" ng-model="vm.pbudget.valor_unitario" type="number" ng-required="true" ng-currency>
                    <div ng-messages="projectForm.unitario.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
            </div>
            <h4 flex> Presupuesto </h4>
            <div layout="row" flex layout-align="center">
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Total</label>
                    <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                    <input name="total" type="text" ng-disabled="true" value="{{vm.pbudget.valor_unitario*vm.pbudget.cantidad || '' | currency}}">
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Finaciación SENA</label>
                    <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                    <input name="sena" ng-model="vm.pbudget.financiacion_sena" type="number" ng-required="true" ng-currency>
                    <div ng-messages="projectForm.sena.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Contrapartida Especie</label>
                    <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                    <input name="especie" ng-model="vm.pbudget.c_especie" type="number" ng-required="true" ng-currency>
                    <div ng-messages="projectForm.especie.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Contrapartida efectivo</label>
                    <md-icon md-font-icon="ion-social-usd" class="title"></md-icon>
                    <input name="efectivo" ng-model="vm.pbudget.c_efectivo" type="number" ng-required="true" ng-currency>
                    <div ng-messages="projectForm.efectivo.$error">
                        <div ng-message="required">Este campo es obligatorio.</div>
                    </div>
                </md-input-container>
            </div>
        </form>
        <!--TODO: quitar cuando aun no se ha escrito-->
<div class="warning" style="color: red;" 
ng-show="
    (projectForm.efectivo.$error || projectForm.especie.$error || projectForm.sena.$error) &&
  (
    (vm.pbudget.valor_unitario*vm.pbudget.cantidad) != (vm.pbudget.c_efectivo+vm.pbudget.c_especie+vm.pbudget.financiacion_sena)
  )
">
    La suma de contrapartida SENA, especie y efectivo: 
    {{vm.pbudget.c_efectivo+vm.pbudget.c_especie+vm.pbudget.financiacion_sena | currency}}
    <br> No Corresponde Con el valor solicitado: {{vm.pbudget.valor_unitario*vm.pbudget.cantidad | currency}}
    <br> Debes asignar: {{(vm.pbudget.valor_unitario*vm.pbudget.cantidad) - (vm.pbudget.c_efectivo+vm.pbudget.c_especie+vm.pbudget.financiacion_sena) | currency}}
</div>

 
        <div class="text-right " layout-margin>
            <h2 class="md-display-1 ">Total: {{vm.pbudget.valor_unitario*vm.pbudget.cantidad || '' | currency}}</h2>
        </div>
    </div>
</div>
<!--{{vm.pbudget.$invalid = (projectForm.$invalid || (vm.pbudget.valor_unitario*vm.pbudget.cantidad != vm.pbudget.c_efectivo+vm.pbudget.c_especie+vm.pbudget.financiacion_sena) )}}-->
