<md-toolbar>
<div class="md-toolbar-tools">
    <h2>Test de Empatia</h2>
</div>
</md-toolbar>
<div layout layout-margin>
    <md-whiteframe class="md-whiteframe-1dp" layout="column" layout-align="center" flex-offset-gt-md="20" flex-gt-md="60" flex="100">
    <div layout="column" class="md-inline-form">
        <md-content layout-padding>
        <h3 class="text-center" flex>Conoce tu empatia</h3>
        <p class="text-center" flex>Instrucciones: Puntúa de 1 a 10 con quién desempeñarías esta actividad. Siendo 1 una persona con la que definitivamente no trabajarías y 10 una persona con la que trabajarias sin pensarlo.</p>
        <div layout="column">
            <md-divider></md-divider>
            <div  style="min-width: 600px">
                <wizard on-finish="vm.finishedWizard(projectForm)" on-cancel="cancelledWizard()" hide-indicators="true">
                    <wz-step wz-title="titulo" canexit="vm.exitValidation(projectForm.titulo.$error)" ng-repeat="question in vm.survey.questions">
                        <h3 class="text-center"> {{$index + 1}}. {{question.desc}}</h3>
                       
                         <md-input-container layout="row" >
                            <label>Usuarios</label>
                            <md-select flex ng-model="vm.selectedUsers"
                                       md-on-close="vm.clearSearchTerm()"
                                       data-md-container-class="selectdemoSelectHeader"
                                       multiple>
                              <md-select-header class="demo-select-header">
                                <input id="searchTerm" class="search" name="searchTerm" ng-model="vm.searchTerm"
                                       type="search"
                                       placehoder="Buscar Usuarios.."
                                       class="demo-header-searchbox md-text">
                              </md-select-header>
                              <md-optgroup label="users">
                                <md-option ng-value="user" ng-repeat="user in vm.users |
                                  filter:vm.searchTerm">{{user}}</md-option>
                              </md-optgroup>
                            </md-select>
                          </md-input-container>
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary" wz-next value="Continue">Continuar</md-button>
                        </div>
                    </wz-step>
                
                </wizard>
                
            </div>
            <md-divider></md-divider>
        </div>
        </md-content>
    </div>
    </md-whiteframe>
</div>