
<div class="col-md-12 project-item " style="margin:0px;">
    <div class=" box-widget widget-user md-whiteframe-2dp" style="background-color: white;">
        <div ui-sref="app.project({projectId: vm.id})" layout="column" class="widget-user-header bg-black" style="background: url('/img/h.png') center center; background-size: cover;">
            <div flex>
                <h3  class="widget-user-username" md-truncate>{{vm.titulo}}</h3>
                <h5 class="widget-user-desc">Inica: {{vm.fecha_inicio}}</h5>
                <h5 class="widget-user-desc">Finaliza: {{vm.fecha_fin}}</h5>
               
            </div>
        </div>
   
        <div layout="row" layout-align="start center">
                <div style="max-width: 120px;    margin-top: 5px;">
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.pieData" chart-labels="vm.pieLabels" chart-colors="vm.chartColours" chart-options="vm.options">
                    </canvas>
                </div>

            <div layout="column" layout-align="center center">
                <p class="text-center">
                    {{vm.progress | number: 1 }}% Presupuesto Ejecutado
                </p>
                <div >
                        <h5 class="description-header">{{vm.project_wallet_total | currency}} / {{vm.budgets_total | currency}} </h5>
                </div>
                 

            </div>
            
        </div>


        <div class="box-footer">
            <div>
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 class="description-header"> {{vm.results_total}} </h5>
                        <span class="description-text">Resultados</span>
                    </div>
                </div>
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{vm.products_total}}</h5>
                        <span class="description-text">Productos</span>
                    </div>
                </div>
                
            </div>
        </div>
        <div layout="column" layout-padding flex>
            <h6>Empresarios y Asesores: </h6>
            <div layout="row" layout-wrap>
                <div layout="column" flex ng-repeat="user in vm.users" layout-align="center">
                    <div flex layout="row" layout-align="center">
                        <img style="height: 30px;" ng-src="https://www.shareicon.net/download/2016/02/19/721763_people_512x512.png" class="md-avatar" alt="empresa" />
                    </div>
                    <div flex>
                        <p class="text-center">{{user.name}} </p>
                    </div>
                </div>
            </div>
        </div>
        <md-card-actions layout="row" layout-padding layout-align="end center">
            <div flex="50" layout-align="left">
                <p class="text-bold">
                    Proceso: {{vm.process_id}}
                </p>
            </div>
            <div layout="row" flex layout layout-align="end">
                <md-button ng-if="vm.can( 'edit.project') " class="md-icon-button " aria-label="edit " ng-click="vm.edit_project();">
                    <md-tooltip md-direction="top">Editar</md-tooltip>
                    <md-icon md-font-icon="ion-edit "></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="edit" ui-sref="app.project({projectId: vm.id})">
                    <md-icon md-font-icon="ion-eye"></md-icon>
                </md-button>
                <div ng-show="vm.can('delete.project')">
                    <md-button class="md-icon-button" aria-label="edit" ng-click="vm.delete(vm.id)">
                        <md-icon md-font-icon="ion-trash-a"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-card-actions>
    </div>
</div>


<!--Modal formulario de edicion de proyecto!-->
<script type="text/ng-template" id="myModalProject.html">
    <div role="dialog" aria-label="Eat me!" layout="column" layout-align="center">
        <md-toolbar md-colors="{background: 'green'}">
            <div class="md-toolbar-tools">
                <h2><md-icon class="step img" md-font-icon="ion-ios-lightbulb-outline" aria-label="proyecto"></md-icon>Edita el Proyecto! </h2>
            </div>
        </md-toolbar>
        <div layout="column" layout-margin>
            <p>Proyecto: {{mvm.project.titulo}}</p>
            <project-form project="mvm.project" closeparent="mvm.cancel()" flex></project-form>
        </div>
        <div layout="row" class="demo-dialog-button">
            <md-button md-autofocus flex class="md-primary" ng-click="vm.closeDialog(); mvm.cancel()">
                Cancelar
            </md-button>
        </div>
    </div>
</script>
