<div class="col-md-12 project-item " style="margin:0px;">
    <div class="box box-widget widget-user md-whiteframe-2dp">
        <div layout="column" class="widget-user-header bg-black" style="background: url('/img/h.png') center center; background-size: cover;">
            <div flex>
                <h3 class="widget-user-username" md-truncate>{{vm.titulo}}</h3>
                <h5 class="widget-user-desc">Inica: {{vm.fecha_inicio}}</h5>
                <h5 class="widget-user-desc">Finaliza: {{vm.fecha_fin}}</h5>
            </div>
        </div>
        <div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress*100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress*100}}%">
                </div>
            </div>
            <p class="text-center">
                {{vm.progress*100 | number:1 }}% Presupuesto Ejecutado
            </p>
        </div>
        <div class="box-footer">
            <div>
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header"> {{vm.results_total}} </h5>
                        <span class="description-text">Resultados</span>
                    </div>
                </div>
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{vm.products_total}}</h5>
                        <span class="description-text">Productos</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">{{vm.budgets_total | currency}} / {{vm.project_wallet_total | currency}}</h5>
                        <span class="description-text">Total</span>
                    </div>
                </div>
            </div>
        </div>
        <div layout="column" layout-padding flex>
            <h6>Empresarios y Asesores: </h6>
            <div layout="row" layout-wrap>
                <div layout="column" flex ng-repeat="user in vm.users" layout-align="center">
                    <div flex layout="row" layout-align="center">
                        <img style="height: 30px;" ng-src="https://www.shareicon.net/download/2016/02/19/721763_people_512x512.png" class="md-avatar" alt="empresa" />
                    </div>
                    <div flex>
                        <p class="text-center">{{user.name}} </p>
                    </div>
                </div>
            </div>
        </div>
        <md-card-actions layout="row" layout-padding layout-align="end center">
            <div flex="50" layout-align="left">
                <p class="text-bold">
                    Proceso: {{vm.process_id}}
                </p>
            </div>
            <div layout="row" flex layout layout-align="end">
                <md-button class="md-icon-button" aria-label="edit" ui-sref="app.project({projectId: vm.id})">
                    <md-icon md-font-icon="ion-eye"></md-icon>
                </md-button>
                <div ng-show="vm.can('delete.project')">
                    <md-button class="md-icon-button" aria-label="edit" ng-click="vm.delete(vm.id)">
                        <md-icon md-font-icon="ion-trash-a"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-card-actions>
    </div>
</div>
