<header class="main-header">
    <md-toolbar layout="column">
        <div class="md-toolbar-tools">
            <a href="/" class="logo">
                <span class="logo-mini">
                    <img src="/img/LogoOBSTexto.jpg" alt="OBS">
                </span>
                <span class="logo-lg">
                    <img src="/img/LogoOBS.jpg" alt="OBS">

                </span>
            </a>
            <!--
            <a ng-show="vm.can('manage.users')" href="javascript:void(0)" class="sidebar-toggle "
                data-toggle="offcanvas" role="button">
                <span class="sr-only">Menú</span>
            </a>
            -->
            <a ui-sref="app.landing" flex> </a>


            <div class=" navbar-custom-menu">
                <ul class="   nav navbar-nav ">
                    <!--<li class="dropdown " layout="row" flex uib-dropdown>
                        <div flex="100" layout="column" flex layout-align="center center" layout-padding>
                            <ds-widget-clock theme="light" show-digital digital-format="'MMM d, hh:mm:ss a'">
                            </ds-widget-clock>
                        </div>
                    </li>
                -->


                    <li class="dropdown messages-menu" uib-dropdown>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
                            <i class="fa fa-envelope-o"></i>
                            contribuciones
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li>
                                <ul class="menu">
                                    <li ng-click="vm.show_dialog($event, '#contribuyentes')">
                                        <a href="#">
                                            <div class="pull-left">

                                                <md-icon md-font-icon="ion-person-stalker" aria-label="contribuyentes">
                                                </md-icon>
                                            </div>
                                            <h4>
                                                Contribuyentes

                                            </h4>

                                        </a>
                                    </li>
                                    <li ng-click="vm.show_dialog($event, '#donations')">
                                        <a href="#">
                                            <div class="pull-left">
                                                <md-icon md-font-icon="ion-card" aria-label="donacion"></md-icon>
                                            </div>
                                            <h4>
                                                Donaciones
                                            </h4>

                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown messages-menu" uib-dropdown>
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" uib-dropdown-toggle>
                            <i class="fa fa-info-circle"></i>
                            Información
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li>
                                <ul class="menu">
                                    <li ng-click="vm.show_dialog($event, '#disclaimer')">
                                        <a href="#">
                                            <div class="pull-left">
                                                <i class="fa fa-gavel"></i> </div>
                                            <h4>
                                                Aviso Legal
                                            </h4>
                                        </a>
                                    </li>
                                    <li ng-click="vm.show_dialog($event, '#glosary')">
                                        <a href="#">
                                            <div class="pull-left">
                                                <i class="fa fa-book"></i>
                                            </div>
                                            <h4>
                                                Glosario
                                            </h4>
                                        </a>
                                    </li>
                                    <li ng-click="vm.show_dialog($event, '#colaboradores')">
                                        <a href="#">
                                            <div class="pull-left">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <h4>
                                                Colaboradores
                                            </h4>
                                        </a>
                                    </li>
                                    <li ng-click="vm.show_dialog($event, '#credits')">
                                        <a href="#">
                                            <div class="pull-left">
                                                <i class="fa fa-terminal"></i>
                                            </div>
                                            <h4>
                                                Desarrollado por
                                            </h4>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>





                    <li class="dropdown user user-menu" uib-dropdown>
                        <a ng-if="vm.isLogged" href="" class="dropdown-toggle" data-toggle="dropdown"
                            uib-dropdown-toggle>
                            <img src="{{vm.userData.avatar}}" class="user-image" alt="User Image"
                                onError="this.src='/img/avatar0.png'">
                            <span class="hidden-xs">{{vm.userData.name | capitalize}}</span>

                        </a>
                        <a ng-if="!vm.isLogged" href="" class="dropdown-toggle" ui-sref="login">
                            <img src="/img/avatar0.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">Ingresar</span>

                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu ng-if="vm.isLogged">
                            <li class="user-header">
                                <img src="{{vm.userData.avatar}}" class="img-circle" alt="User Image"
                                    onError="this.src='/img/avatar0.png'">
                                <p>
                                    {{vm.userData.name | capitalize}}
                                    <small>Usuario desde
                                        {{vm.userData.created_at | datemillis |date:'MMMM yyyy' }}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a ui-sref="app.profile" class="btn btn-default btn-flat">Editar Perfil</a>
                                </div>
                                <div class="pull-right">
                                    <a ui-sref="app.logout" class="btn btn-default btn-flat">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/" class="logo">
                            <span class="logo-mini">
                                <img src="/img/uninorte-logo.png" alt="OBS">
                            </span>
                            <span class="logo-lg">
                                <img src="/img/uninorte-logo.png" alt="OBS">

                            </span>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </md-toolbar>


</header>


<!-- Modals-->
<!--Contribuyentes-->

<div style="visibility: hidden">
    <div id="disclaimer"  class=" md-dialog-container reveal-modal full-screen modal" data-reveal>
        <md-dialog layout-padding>
            <h2 class="text-center">Renuncia de responsabilidades</h2>
            <p>Toda la información en este sitio web se publica de buena fe y como información general solamente. No
                hacemos ninguna garantía sobre la exactitud, fiabilidad y precisión de la información. Cualquier acción
                que usted tome de la información en nuestra web es estrictamente a su propio riesgo, y no será
                responsable por las pérdidas y daños y perjuicios en relación con el uso de nuestro sitio web.</br>Desde
                nuestro sitio web, usted puede visitar otros sitios web siguiendo los hipervínculos a esos sitios.
                Mientras que nos esforzamos en ofrecer sólo los enlaces a sitios web útiles y éticos, no tenemos ningún
                control sobre el contenido y la naturaleza de estos sitios y los enlaces a otras páginas web no implican
                una recomendación para todo el contenido de estos sitios.</br>Por favor, hay que tener en cuenta que
                cuando usted sale de nuestro sitio web, otros sitios pueden tener diferentes políticas de privacidad y
                términos que están más allá de nuestro control.</p>
         </md-dialog>
    </div>

    <div id="glosary" class=" md-dialog-container reveal-modal full-screen modal" data-reveal>
        <md-dialog layout-padding>
            <h2 class="text-center">Glosario</h2>
            <p>Estos son enlaces que direccionan hacia otras paginas.</p>
            <!-- <p><strong> <a href="http://es.wikipedia.org/wiki/Precipitaci%C3%B3n_(meteorolog%C3%ADa)" target="_blank">Precipitación</a></strong></p>
                <p><strong><a href="http://es.wikipedia.org/wiki/Lluvia" target="_blank">Lluvia</a></strong></p>
                <p><strong><a href="http://es.wikipedia.org/wiki/Lluvia" target="_blank">Medición de la lluvia</a></strong></p>
                <p><strong><a href="http://es.wikipedia.org/wiki/Pluvi%C3%B3metro" target="_blank">Pluviómetro</a></strong></p>
                <p><strong><a href="http://es.wikipedia.org/wiki/Red_de_monitoreo" target="_blank">Red de monitoreo</a></strong></p> -->
        </md-dialog>
    </div>

    <div id="credits" class=" md-dialog-container reveal-modal full-screen modal" data-reveal>
        <md-dialog layout-padding>
            <h2 class="text-center">Equipo Uninorte</h2></br>
            <p>Humberto Avila, PhD. Director, Investigador Diseño de Sistema</p>
            <p>Wilson Nieto, PhD. Investigador Desarrollo Software</p>
            <p>Augusto Sisa, MSc. Investigador Hidrología</p>
            <p>Luis Rojano, Est. MSc. Investigador Desarrollo Software</p>
            <!--<p>Danilo Garcia, Ing. Sistemas. Asistente de Investigación</p>
                    <p>Brayan Garcia, Ing. Sistemas. Asistente de Investigación</p>
                <p>Leandro Avila, Ing. Civil. Asistente de Investigación</p>
                <p>Tatiana De Alba, Ing. Civil. Asistente de Investigación</p>
                <p>Leydis Villadiego, Ing. Sanitaria. Asistente de Investigación</p>
                <p>Andrea Perez, Estudiante Ing. Civil. Auxiliar de Investigación</p>
                <p><strong>Instituto de Estudios Hidráulicos y Ambientales – IDEHA</strong></p>
                <p><strong>Grupo Redes de Computadores e Ingeniería de Software - GReCIS</strong></p>-->

        </md-dialog>
    </div>

    <div id="colaboradores" class=" md-dialog-container reveal-modal full-screen modal" data-reveal>
        <md-dialog layout-padding>
            <h2>Colaboradores</h2></br>
            <!-- <p>Triple A S.A E.S.P</p>
                    <p>Parroquia Espíritu Santo</p>
                    <p>Parroquia Nuestra Señora de Chiquinquirá</p>
                    <p>Parroquia Nuestra Señora de las Gracias Torcoroma</p>
                    <p>Cuerpo Oficial de Bomberos Barranquilla</p>
                    <p>Condominio Brisas del Norte</p>
                    <p>Edificio Máximo</p>  -->
        </md-dialog>
    </div>

    <div id="contribuyentes" class=" md-dialog-container reveal-modal full-screen modal medium text-center" data-reveal>
        <md-dialog layout-padding>
            <h2 class="text-center">Contribuyentes</h2></br>
            <!-- <a href="http://www.atlantico.gov.co" target="_blank"><img src="images/gobernacionok.gif"></a>
                    <a href="https://www.sgr.gov.co" target="_blank"><img src="images/sgrok.png"></a>
                    <a href="http://www.colciencias.gov.co" target="_blank"><img src="images/colcienciasok.png"></a>-->
            <a href="http://www.uninorte.edu.co" target="_blank"><img src="img/unok.png"></a>
            <a href="http://www.uninorte.edu.co" target="_blank">
                <h3>Instituto de Estudios Hidráulicos y Ambientales - IDEHA</h3>
            </a>
        </md-dialog>
    </div>

    <div id="donations" class=" md-dialog-container reveal-modal full-screen modal medium" data-reveal>
        <md-dialog layout-padding>
            <h2 class="text-center">Donaciones</h2></br>
            <p>Usted o su empresa puede contribuir con el desarrollo de obsriomagdalena.co mediante su vinculación como
                donante o contribuyente.</p>
            <p>Para mayores informes contactar a: <strong>obsriomagdalena@uninorte.edu.co</strong></p>

        </md-dialog>
    </div>


</div>
